In [2]:
from pykrx import stock
from pykrx import bond

df = stock.get_market_ohlcv("20170101", "20211231", "005930")

In [4]:
df.reset_index(inplace=True)
df

             날짜     시가     고가     저가     종가       거래량
0    2017-01-02  35980  36240  35880  36100     93012
1    2017-01-03  36280  36620  36020  36480    147153
2    2017-01-04  36500  36520  36100  36160    159435
3    2017-01-05  36060  36060  35540  35560    219349
4    2017-01-06  36180  36440  36040  36200    177619
...         ...    ...    ...    ...    ...       ...
1224 2021-12-24  80200  80800  80200  80500  12086380
1225 2021-12-27  80600  80600  79800  80200  10783368
1226 2021-12-28  80200  80400  79700  80300  18226325
1227 2021-12-29  80200  80200  78500  78800  19794795
1228 2021-12-30  78900  79500  78100  78300  14236700

[1229 rows x 6 columns]

In [5]:
from datetime import date

df['날짜'] = df['날짜'].apply(lambda x: x.strftime('%Y%m%d'))
df['날짜'] = df['날짜'].astype(int)

In [13]:
df
# for row in df.itertuples():
#     print(row[1])

            날짜     시가     고가     저가     종가       거래량
0     20170102  35980  36240  35880  36100     93012
1     20170103  36280  36620  36020  36480    147153
2     20170104  36500  36520  36100  36160    159435
3     20170105  36060  36060  35540  35560    219349
4     20170106  36180  36440  36040  36200    177619
...        ...    ...    ...    ...    ...       ...
1224  20211224  80200  80800  80200  80500  12086380
1225  20211227  80600  80600  79800  80200  10783368
1226  20211228  80200  80400  79700  80300  18226325
1227  20211229  80200  80200  78500  78800  19794795
1228  20211230  78900  79500  78100  78300  14236700

[1229 rows x 6 columns]

In [ ]:
def StocktoDB(start, end, code:str):
    '''
    조회할 시작,끝 날짜와 종목이름을 입력받아
    prkrx에서 조회한 OHLCV데이터를 DB에 입력하는 함수
    '''
    import pandas as pd
    import sqlite3
    from datetime import date
    from pykrx import stock
    from pykrx import bond
    
    # db 경로는 로컬에 맞게 설정해야함
    conn = sqlite3.connect("C:/Python_workspace/2jo_Final_Python/DB/final.db")

    # 커서 바인딩
    c = conn.cursor()

    # 종목명 설정
    ticker_dict = {'삼성전자' : '005930', '하이닉스' : '000660', '네이버' : '035420'}

    df = stock.get_market_ohlcv("20170101", "20211231", "005930")
    df.reset_index(inplace=True)
    df['날짜'] = df['날짜'].apply(lambda x: x.strftime('%Y%m%d'))
    df['날짜'] = df['날짜'].astype(int)
    
    # 데이터 프레임 각 행을 DB에 입력
    for row in df.itertuples():
        sql1 = "insert into stock_db(s_date, s_code, open, high, low, close, volume) values (?,?,?,?,?,?)"
        c.execute(sql1, (row[2],row[3],row[5],row[6]))
    conn.commit()

    print('DB 입력 완료')